.navContainer {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 0 20px;
    background-color: #f8f9fa;
    position: relative;
    width: 100%;
    z-index: 100;
    padding: 20px;
}

.nav-logo img{
    width: 80px !important;
    height: 80px !important;
}