/* UploadDocument.css */

.container_upload {
  margin: 10px auto;
  padding: 25px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.uploadDocument{
  margin-top: 150px;
  margin-bottom: 75px;
}

.header_upload {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2em;
  color: #333;
}

.form_upload {
  display: flex;
  flex-direction: column;
}

.upload_row{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
}

.col-md-6, .col-md-12 {
  flex: 1;
  padding: 0 10px;
  box-sizing: border-box;
}

.col-md-6 {
  max-width: 50%;
}

.col-md-12 {
  max-width: 100%;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

.upload_input {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.upload_input[type="file"] {
  padding: 3px;
}

.required-field {
  color: red;
  margin-left: 5px;
}

.error-message {
  color: red;
  font-size: 0.9em;
}

.submit_upload, .resume_upload {
  background-color: #f9f9f9;
  color: black;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: 2px solid black;
}

.submit_upload:hover, .resume_upload:hover {
  background-color: rgb(192, 190, 190);
}

.checkbox-label {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.checkbox-label input {
  margin-right: 10px;
}

.terms-label {
  margin-right: 5px;
}

.submit_upload{
  background-color: #007bff;
  max-width: 50%;
  justify-content: center;
  align-items: center;
}

.resume_heading{
  padding-bottom:30px;
  justify-content: center;
  align-items: center;
}

.submit_upload:hover{
  background-color: #0056b3;
  border-color: #004a99;
  max-width: 50%;
  justify-content: center;
  align-items: center;
}
